html, body {
 margin: 0;
 padding: 0;
 width:100%;
 height: auto;
 background-color: rgba(255, 255, 255, 0) !important;
 --boxPremier-bg-color: #646464;
 --boxDeuxieme-bg-color: #5b5b5b;
 --boxTroisieme-bg-color: #939393;
 --boxQuatrieme-bg-color: #707070;
 --boxSixieme-bg-color: #898989;
  font-family: 'Raleway', sans-serif;
}

a{
  cursor: pointer !important;
}

ul, li{
  list-style: none;
  padding: 5px !important;
  margin: 0px !important;
}

h1, h2, h3, h4, h5, h6{
  color: white;
}

h3{
  font-size: 2em !important;
  font-weight: bold !important;
}

h4{
  color: #333;
  font-size: 1.1em !important;
  font-weight: bold !important;
  font-family: 'Playfair Display', serif;
}

h6{
  padding-left: 20px;
  font-size: .9em !important;
}


section h4{
  font-family: 'Playfair Display', serif;
  font-weight: 400 !important;
  padding-top: 30px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ddd;
  width: 30px;
  opacity: 0.3;
}

header{
  height: 0px !important;
  bottom: 15em;
  width: 100%;
  text-align: center;
  position: relative;
}

header p{
  /*vertical-align: bottom;*/
  position: absolute;
  /*bottom: 55px;*/
  margin: auto 0px;
  width: 100%;
  /*color: white;*/
}

header > .sw-logo{
  height: 20em;
}


#headerStore > header{
  bottom: 35em;
}

#headerPhototheque > header{
  bottom: 36em;
}

#headerDixit > header{
  bottom: 35em;
}

/**/

.swiper-button-next{
  margin-right: 40px;
}

.swiper-button-prev{
  margin-left: 40px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    height: 720px;
    z-index: 0 !important;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
     opacity: .8; 
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
    border: 2px solid white;
}

.swiper-pagination {
      margin-bottom: 20px;
}

.swiper-slide {
  height: 100% !important;
  text-align: center;
  font-size: 18px;
  background: rgba(100,100,100,1);
  /*pointers-event: none;*/
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide.disable{
  height: 400px !important;
  background-color: transparent;
  pointers-event:none;
  display: table;
}

/**/

.logo-mini{
  height: 5em;
  top: 0em;
  background: url(../../app/img/logo-photographisme-top.png) no-repeat center center;
    background-size: contain;
    -webkit-filter: invert(70%); /* Safari 6.0 - 9.0 */
    filter: invert(70%);
}

.parallax-mirror {
  /*background-color: black;*/
    min-height: 900px;
}

.parallax-slider {
  opacity: .5;
      -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.parallax-window {
    height: 50em;
    /*background: transparent;*/
}


.spinner-hide{
  display: none;
}



footer span{
  margin: auto;
}

nav span#sw-logo-top{
  position: absolute;
    width: 150px;
    height: 80px;
    left: 20px;
    top: 0px;
  background: url(../../app/img/logo-photographisme-top.png) no-repeat center center;
  background-size: contain;
  filter: invert(0%);
}

.spinner-show{
  display: block;
}

.spinner-show img{
  /*margin-left: 48%;*/
  margin: 10%;
  width: 25px;
}

.template{
  margin-top: 50px;
}


.headerNav {
  text-align: right;
  /*box-shadow: 0px 1px 2px rgba(0,0,0,0.3);*/
  /*padding: 20px;*/
  padding-top: 100px;
  position: absolute;
  z-index: 9999;
  width: 100%;
  /*height: 60px;*/
  top: -100px;
  background-color: transparent;
}

.headerNav a{
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
}

.headerNav img {
 display: inline-block;
}

.sw-intro h1 {
  font-size: 8em;
  display: inline-block;
  /*font-family: 'Playfair Display', serif;*/
  /*text-transform: capitalize;*/
}

.main {
 background-color: transparent !important ;
 /*padding: 0px;*/
 height: inherit;
  /*font-family: 'Shrikhand', cursive !important;*/
}

.main header h1, .main header h4 {
  color: #000;
  width: 100%;
  font-weight: 700;
  font-style: italic;
  margin: auto;
  padding: 20px 0px 20px 0px;
}

.main .swiper h1 {
    top: 7em;
    position: absolute;
}

.main h1 {
  color: #000;
  text-align: center;
    /*position: relative;*/
    top: 3em;
    font-size: 2em;
  margin: auto;
  padding: 0px;
  font-weight: 300;
  text-transform: uppercase;
  width: 100%;
  /*font-family: 'Playfair Display', serif;*/
  font-family: 'Shrikhand', cursive !important;
  font-weight: 300;
}

.main h2 {
  color: white;
  /*font-family: 'Shrikhand', cursive !important;*/
  /*font-family: 'Cardo', serif;*/
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  /*font-family: Roboto,"Helvetica Neue",sans-serif;*/
  text-align: center;
  color: #fff;
  font-size: 2em;
  margin: auto;
  padding: 20px 100px 20px 100px;
  /*border: solid 3px #fff;*/
  width: 50%;
  /*background-color: rgba(200,200,200,0.5);*/
}

.container{
 width:100%;
 height: auto;
 /*display: flex;*/
 /*padding: 0px;*/
}

.containerBlocs{
 width:100%;
 height: inherit;
 display: flex;
 /*padding: 0px;*/
}

.bloc{
  width: inherit;
  text-align: center;
  /*height: inherit;*/
  border: 1px solid grey;
  margin: 30px;
  padding: 30px;
  /*display: flex;*/
}



.fiche-content{
  height: inherit;
  min-height: 300px;
  z-index: 2;
}

.fiche-content ul, li{
  display: inline-block;
}

#blocs-home{
  /*position: absolute;*/
  width: 100%;
  bottom: 0%;
  text-align: center;
  height: 100%;
  top: 80%;
  background-color: white;
  /*overflow: hidden;*/
  /*overflow-y: scroll;*/
}

.sw-content-top{
  top: 0% !important;
}

.bloc-index {
  height: 100% !important;
  /*overflow-y: scroll;*/
}

.bloc-index img{
  max-width: 100%;
  position: relative;
  height: auto;
}

.bloc-index .md-button {
    border: 2px solid black;
}


.bloc-index h1{
  position: relative;
  top: -20px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}

.bloc-index p{
  color: #333;
  /*position: relative;*/
  top: -65px;
}

.bloc-index > li:nth-child(1) {
  background-color: hsla(0, 0%, 89%, 1);
}

.bloc-index > li:nth-child(2) {
  background-color: hsla(0, 0%, 80%, 1);
}

.bloc-index > li:nth-child(3) {
  background-color: hsla(0, 0%, 95%, 1);
}

.bloc-index > li:nth-child(4) {
  background-color: hsla(0, 0%, 100%, 1);
}

.bloc-index > li:nth-child(5) {
  background-color: hsla(0, 0%, 85%, 1);
}

.bloc-index > li:nth-child(6) {
  background-color: hsla(0, 0%, 80%, 1);
}

.bloc-index > li {
  display: inline-block;
  /*width: 50%;*/
  float: left;
  margin: 0%;
  height: auto; 
  background-color: #6d6d6d; /* For browsers that do not support gradients */
  background-image: url(../img/texture.png);
  border: none;
  padding: 0px 25px 45px 25px !important
}

.shop > .bloc-index li {
  display: inline-block;
  width: 25%;
}

.bloc-index h3{
  /*background-color: black;*/
  margin: 10px;
  height: 40%;
  font-size: 2em;
   color: #333; 
  /*line-height: 6.5em;*/
}

/*BOX SVG*/

.box {
  width: 250px;
  max-height: 48px;
  position: relative;
  background: rgba(255,255,255,0);
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
  /*box-shadow: inset 0 0 0 3px #2c3e50;*/
  -webkit-transition: background 0s 0.2s;
  transition: background 0s 0.2s;
}

.box:hover {
  background: rgba(0,0,0,0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.box span {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 5px;
}

.box h3,
.box span {
  -webkit-transition: color 0.4s 0.5s;
  transition: color 0.4s 0.5s;
}

.box:hover h3,
.box:hover span {
  color: #000;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.box svg {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
}

.box svg line {
  stroke-width: 2;
  stroke: #222;
  fill: none;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.box:hover svg line {
  -webkit-transition-delay: 0;
  transition-delay: 0;
  stroke: #000;
}

.box svg line.top,
.box svg line.bottom {
  stroke-dasharray: 330 240; 
}

.box svg line.left,
.box svg line.right {
  stroke-dasharray: 490 400;
}

.box:hover svg line.top {
  /*-webkit-transform: translateX(0px);*/
  /*transform: translateX(0px);*/
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.box:hover svg line.bottom {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.box:hover svg line.left {
  /*-webkit-transform: translateY(920px);*/
  /*transform: translateY(920px);*/
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}

.box:hover svg line.right {
  /*-webkit-transform: translateY(-920px);*/
  /*transform: translateY(-920px);*/
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

/*BOX SVG END*/

.sw-footer{
  display: inline-block;
  width: 100%;
}

.fiche-content img{
  margin-top: -45px;
  border: 5px solid white;
}

li.hover *{
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; 
}

li.hover .sw-imageContent{
  background-color: rgba(0,0,0,0);
  bottom: 0px;
  opacity: 1;
}

li.hover .sw-imageContent h6{
  opacity: 0;
}

li.hover .sw-imageContent .md-card-action{
  opacity: 1;
}

li.hover .md-card-actions{
  margin-top: 3em;
}

li.hover .sw-imageContent .md-headline{
  opacity: 0;
}

li.hover .sw-imageContent .md-card-image{
  margin-top: 3em;
}

#swipebox-slider .slide {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.sw-bgFixe{
  position: fixed;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100% !important;
  /*margin: 0;*/
  /*padding: 0;*/
  background-blend-mode: screen;
  /*min-height: 55%;*/
  background-color: var(--boxTroisieme-bg-color);
}

.sw-recherche form{
  padding: 7em 6em 1em 6em;
  height: 200px;
  /*background-color: #333;*/
  color: white !important;
}

.sw-recherche input{
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  color: black;
  padding-left: 30px;
  height: 70px;
    background-color: rgba(0,0,0,.1);
  text-transform: capitalize;
}

.sw-recherche md-input-container.md-input-invalid .md-input-message-animation, 
.sw-recherche md-input-container.md-default-theme.md-input-invalid label, 
.sw-recherche md-input-container.md-input-invalid label,
.sw-recherche md-input-container.md-input-invalid {
    color: rgb(150,150,150);
    border: none !important;
}

.sw-recherche md-input-container.md-input-invalid .md-input {
     border: none; 
}

.sw-recherche md-input-container.md-input-invalid .md-input {
    color: rgb(0,0,0) !important;
    height: inherit;
    /*padding: 1em;*/
}

.sw-recherche label {
    color: rgb(100,100,100) !important;
    /*display: none;*/
}

.sw-recherche button{
  float: right;
  position: relative;
  top: -110px;
  right: 10px;
  margin: 30px 0px 30px 0px;
}

.sw-recherche .md-errors-spacer{ display: none; }

.sw-recherche md-input-container {
    width: 100%;
    float: left;
    height: 70px;
}

.sw-recherche{
  background-position-y: 60%;
}

.sw-recherche md-content{
  background-color: transparent !important;
  height: 100%;
  padding: 0px !important;
}

.sw-recherche div{
  height: inherit;
  /*background-color: rgba(255,255,255,1);*/
}

.sw-menu{
  background-color: white;
  min-height: 300px;
  padding-top: 20px;
}

.sw-teaser{
  background-color: black;
}

.col-md-12{
  padding: 0px !important;
}

.list-group-submenu {
  margin-left:20px;
}

.galerie{    
  z-index: 1;
  width: 100%;    
  height: auto;
  position: absolute;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}


.IntroGalerie {
  border: 0px;
  background-color: #252525 ;
  position: relative;
  padding: 0px;
  margin: 0px;
  border-radius: 0;
  height: inherit;
}

.IntroGalerie div:not(.btnGalerie) {
  /*height: 780px;*/
/*  -webkit-filter: grayscale(100%);
  -moz-filter: blur(5px) grayscale(100%);
  -o-filter: blur(5px) grayscale(100%);
  -ms-filter: blur(5px) grayscale(100%);
  filter: blur(5px) grayscale(100%);*/
}

.IntroGalerie img {
  position: absolute;
  /*margin-top: 10px;*/
  /*margin-bottom: 30px;*/
  /*max-width: 100%;*/
}

.infos{
  width: 100%;
  position: absolute;
  bottom: 100px;
  text-align: center;
  color: white;
  font-weight: bold;
}


.rating {
  bottom: 60px;
  right: 30px;
  position: relative;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /*margin: 30px 0 -30px 20px;*/
}

.rating p{
 margin: 0px 0 -20px 20px;
}

.likes,
.dislikes {
 background: #fff ;
 color: #000;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
 line-height: 50px;
 min-width: 50px;
 height: 50px;
 border-radius: 50%;
 margin: 0 0px 0 0px;
 text-align: center;
 font-weight: 500;
 /*box-shadow: 0 2px 5px rgba(0,0,0,0.2);*/
 transition: background 500ms;
}

.likes:hover,
.dislikes:hover {
 color: #fff ;
 background: rgba(246, 90, 91, 0.25);
 transition: background 500ms;
}

.footer {
  background-color: #ddd;
  height: 200px;
  display: inline-block;
  text-align: center;
  color: #bbb;
  /* position: fixed; */
  z-index: 777;
  width: 100%;
}

.footer h2 {
 font-size: 1.2em;
 font-style: italic;
 font-weight: 200;
 margin-bottom: 25px;
}

.footer img {
 margin: 0 10px;
}

/**/

#sw-teaser-galerie{
  /*opacity: 0;*/
}

.img-galerie{
  position: absolute;
/*  top: 15%;
  left: 15%;
  bottom: 15%;
  right: 15%;*/
  width: 70%;
  /*max-height: 70%;*/
}

.btnGalerie{    
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  padding: 30px;
  top: calc(40% - 25px);
  z-index: 2;
}

#btnNext{ right: 20px;}
#btnPrev{ left: 20px; }

/**/



@-webkit-keyframes opacitycard {
  0% {
    -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* Hack IE8 */
    filter: alpha(opacity = 0); /* Hack IE 5-7 */
    opacity: 0;/* l'opacite que vous voulez au depart */
  }
  100% {
    -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* Hack IE8 */
    filter: alpha(opacity = 100); /* Hack IE 5-7 */
    opacity: 1;/* l'opacite que vous voulez au depart */
  }
}

md-card {
 -webkit-animation: opacitycard .5s ease-in-out;
 border: none;/* enlever les border d'une image en lien */
 border-radius: 0px !important;
 /*box-shadow: none !important;*/
 /*box-shadow: 10px 10px 5px #888888;*/
 margin: 0px !important;
 box-shadow: none !important;
}

#myscrollBtn1 .btn1, #myscrollBtn2 .btn1{
  background-color: white;
  color: black;
  min-width: 300px;
}

#myscrollBtn1 .btn1 h4, #myscrollBtn2 .btn1 h4{
  text-transform: capitalize;
  padding: 10px;
}

#myscrollBtn1 .btn1:hover, #myscrollBtn2 .btn1:hover{ color: white; }
#myscrollBtn1 .btn1:hover h4, #myscrollBtn2 .btn1:hover h4{ color: white; }

.btn1{
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border: none !important;
  padding: 10px 20px 10px 20px !important;
}

md-card-content ul{
  text-transform: uppercase;
  font-style: italic;
  opacity: 1;
  font-size: x-small;
  margin-left: 0px !important;
}

.md-card-image{
  border-radius: 0px !important;
  max-height: 400px !important;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


.md-headline{
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.shadowbox{
    box-shadow: -1px 1px 5px rgba(0,0,0,.2);
    padding: 0px !important;
}


.hideimage{
  -webkit-animation: opacitycard .2s ease-in-out;
  opacity: 0;
  display: none;
}

.showimage{
  -webkit-animation: opacitycard .2s ease-in-out;
  display: block;
}

.inputdemoErrors .inputErrorsApp {
  min-height: 48px; 
}

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; 
}

.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; 
}
.buttondemoBasicUsage md-content {
  margin-right: 7px; 
}
.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; 
}
.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; 
}

.inactive{
  pointer-events:none;
  opacity: 0.5;
}

.inactive .md-button{
  opacity: 0.5;
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; 
}

md-nav-ink-bar{
  display:none;
}

md-nav-ink-bar.md-active{
  font-weight: 700;
  text-decoration: underline;
}

.md-active{
  border: 2px solid black !important;
}


._md-nav-bar-list {
  float: right;
}

.md-button._md-nav-button {
    outline: none;
    border: none !important;
    background-color: white;
    margin: 0px;
}

.headerNav md-content.md-padding{
  padding: 0px !important;
}

md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {
     color: rgb(0,0,0); 
     background: rgb(0,0,0); 
}

md-nav-bar .md-nav-bar {
    /* background-color: transparent; */
    border: none;
    height: 200px;
}

.md-button.md-accent {
    color: rgb(0,0,0) !important;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

