<footer class="footer-distributed">

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=196297113723631";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="footer-left">
		<span class="sw-logo-footer"></span>
		<!-- <span id="sw-logo-top" class="sw-logo"></span> -->
		<p class="footer-links">
			<a href="#/">Accueil</a>
			<a href="#phototheque">Photothèque</a>
			<a href="#contact">Contact</a>
		</p>
		<!-- <hr style="width:20px;margin: auto auto 20px 0px;"> -->
		<p class="footer-company-name">Wagner Stéphane &copy; 2016</p>
	</div>

	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			<p>Montréal, Canada</p>
		</div>
		<div>
			<i class="fa fa-phone"></i>
			<p>+1 514 834 0784</p>
		</div>
		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:wagess@gmail.com">wagess@gmail.com</a></p>
		</div>
	</div>

	<div class="footer-right">
		<p class="footer-company-about">
			<span>CRÉDITS :</span>
			<ul>
				<li>Conception et production web : Wasprod</li>
				<!-- <li>Rédaction : Stéphane Wagner</li> -->
				<li>Photographie © Stéphane Wagner</li>
				<!-- <li>Programmation web : Stéphane Wagner</li> -->
				<!-- <li>Produit avec Angular JS, Wordpress, PHP</li> -->
				<!-- <li>Merci à Jordy Meow</li> -->
			</ul>
		</p>
		<div class="footer-icons">

			<div class="fb-like" data-href="http://www.stephanewagner.com" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
			<!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
			<!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
			<!-- <a href="#"><i class="fa fa-github"></i></a> -->

		</div>
	</div>

</footer>