<section id="sw-teaser-galerie">
  <div class="btnGalerie" id="btnPrev" ng-click="prev()">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </div>
  <div class="btnGalerie" id="btnNext" ng-click="next()">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </div>
  <div class="galerie">
    <img id="img0" ng-src="{{ defaultImage }}" class="img-galerie">
    <img id="img1" ng-src="{{ defaultImage }}" class="img-galerie">
    <img id="img2" ng-src="{{ defaultImage }}" class="img-galerie">
    <img id="img3" ng-src="{{ defaultImage }}" class="img-galerie">
    <img id="img4" ng-src="{{ defaultImage }}" class="img-galerie">
    <img id="img5" ng-src="{{ defaultImage }}" class="img-galerie">
  </div>
</section>