<div class="col-md-4">
    <!-- BUY BTN -->
    <div data-embed_type="product" data-shop="wagess.myshopify.com" data-product_name="Rockies Panoramic" data-product_handle="rockies" data-has_image="true" data-display_size="compact" data-redirect_to="checkout" data-buy_button_text="Buy now" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-button_background_color="cc3d3d" data-button_text_color="000000" data-product_modal="false" data-product_title_color="000000" data-next_page_button_text="Next page"></div>
    <script type="text/javascript">
    document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
    </script>
    <noscript><a href="https://wagess.myshopify.com/cart/16785008518:1" target="_blank">Buy Rockies Panoramic</a></noscript>
    <!-- BUY BTN -->
</div>
<div class="col-md-4">
    <!-- BUY BTN -->
    <div data-embed_type="product" data-shop="wagess.myshopify.com" data-product_name="Rockies Panoramic" data-product_handle="rockies" data-has_image="true" data-display_size="compact" data-redirect_to="checkout" data-buy_button_text="Buy now" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-button_background_color="cc3d3d" data-button_text_color="000000" data-product_modal="false" data-product_title_color="000000" data-next_page_button_text="Next page"></div>
    <script type="text/javascript">
    document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
    </script>
    <noscript><a href="https://wagess.myshopify.com/cart/16785008518:1" target="_blank">Buy Rockies Panoramic</a></noscript>
    <!-- BUY BTN -->
</div>
<div class="col-md-4">
    <!-- BUY BTN -->
    <div data-embed_type="product" data-shop="wagess.myshopify.com" data-product_name="Rockies Panoramic" data-product_handle="rockies" data-has_image="true" data-display_size="compact" data-redirect_to="checkout" data-buy_button_text="Buy now" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-button_background_color="cc3d3d" data-button_text_color="000000" data-product_modal="false" data-product_title_color="000000" data-next_page_button_text="Next page"></div>
    <script type="text/javascript">
    document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
    </script>
    <noscript><a href="https://wagess.myshopify.com/cart/16785008518:1" target="_blank">Buy Rockies Panoramic</a></noscript>
    <!-- BUY BTN -->
</div>