<div class="headerNav">
	<div ng-controller="AppCtrl" ng-cloak="" class="navBardemoBasicUsage" ng-app="MyApp">
	  <!-- <md-content class=""> -->
	    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
	    	<span id="sw-logo-top" class="sw-logo" ></span>
	      	<a href="#/">
	      		<md-nav-item md-nav-click="goto('page1')" name="page1" class="shadowbox"> Accueil </md-nav-item>
	      	</a>
		    <a class="" href="#phototheque" class="">
			    <md-nav-item md-nav-click="goto('page2')" name="page2" class="shadowbox"> Photothèque </md-nav-item>
		    </a>
		    <!-- <a class="" href="#showroom" class="">
			    <md-nav-item md-nav-click="goto('page3')" name="page3"> showroom </md-nav-item>
		    </a> -->
		    <!-- <a class="" href="#dixit" class="">
			    <md-nav-item md-nav-click="goto('page3')" name="page3"> Dixit </md-nav-item>
		    </a> -->
		    <a class="" href="#store" class="">
			    <md-nav-item md-nav-click="goto('page5')" name="page5" class="shadowbox"> Shop </md-nav-item>
		    </a>
		    <!-- <a class="inactive" href="#contact" class="">
			    <md-nav-item md-nav-click="goto('page6')" name="page6"> Contact </md-nav-item>
		    </a>
		    <a class="inactive" href="#apropos" class="">
			    <md-nav-item md-nav-click="goto('page7')" name="page7"> À propos </md-nav-item>
		    </a> -->
	    </md-nav-bar>
	  <!-- </md-content> -->
	</div>
</div>
