<!--  -->
<div id="MainMenu" class="">
  <div class="list-group panel">

    <!--  -->
    <!--  -->
    <a href="#collections" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu" ng-click="$event.preventDefault();deleteResult()">Collections</a>
    <!--  -->
    <div class="collapse" id="collections">
      <a href="" class="list-group-item" data-toggle="collapse" data-parent="" ng-click="submitQuery('Scenes de vie', 'cat')" >    Scenes de vie
      </a>
      <a href="" class="list-group-item" data-toggle="collapse" data-parent="" ng-click="submitQuery('Urbain', 'cat')" >
        Urbain
      </a>
      <a href="" class="list-group-item" data-toggle="collapse" data-parent="" ng-click="submitQuery('Alsace', 'cat')" >
        Alsace
      </a>
    </div>
    <!--  -->
    <!--  -->

    <!--  -->
    <!--  -->
    <a href="#Commandes" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu" ng-click="$event.preventDefault();deleteResult()">Projets</a>
    <!--  -->
    <div class="collapse" id="Commandes">
      <a href="" class="list-group-item" data-toggle="collapse" data-parent="" ng-click="submitQuery('FITM', 'cat')" >
        FITM
      </a>
      <a href="" class="list-group-item" data-toggle="collapse" data-parent="" ng-click="submitQuery('Cabaret', 'cat')" >
        Cabaret
      </a>
      <a href="" class="list-group-item" data-toggle="collapse" data-parent="" ng-click="submitQuery('Bijoux', 'cat')" >
        Bijoux
      </a>
    </div>
    <!--  -->
    <!--  -->

    <!--  -->
    <!--  -->
    <a href="#Voyages" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu" ng-click="$event.preventDefault();deleteResult()">Voyages</a>
    <!--  -->
    <div class="collapse" id="Voyages">
      <a href="" class="list-group-item" data-toggle="collapse" data-parent="" ng-click="submitQuery('Cuba', 'cat')" >
        Cuba
      </a>
      <a href="" class="list-group-item" data-toggle="collapse" data-parent="" ng-click="submitQuery('Sicile', 'cat')" >
        Sicile
      </a>
      <a href="" class="list-group-item" data-toggle="collapse" data-parent="" ng-click="submitQuery('Chili', 'cat')" >
        Chili
      </a>
      <a href="" class="list-group-item" data-toggle="collapse" data-parent="" ng-click="submitQuery('Argentine', 'cat')" >
        Argentine
      </a>
    </div>
    <!--  -->
    <!--  -->

  </div>
</div>
<!-- nav